.register-form {
    width: 100%;
  }
  
  .sectionbox {
    gap: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 15%;
    border: 2px solid green;
    padding: 10px;
    border-radius: 4px;
  }

  