<!-- <div class="link_mail">
    <div class="link_mail_box">
        <div class="link_mail_head">PrepAngular</div>
        <div class="link_he">Hello, <span> Praveen</span></div>
        <div>
            <p class="link_he">We've received a request to reset the password for the Stripe account
                associated with
                hello@SmilesDavis.yeah. No changes have been made to your account yet.
            </p>
            <p class="link_he">You can reset your password by clicking the link below:</p>
        </div>
        <div class="link_btn">
            <button><a href="google.com" target="_blank">Reset your password</a></button>
        </div>
        <div>
            <p class="link_he">If you did not request a new password, please let us know immediately by
                replying to this email.</p>
        </div>
        <div>
            <p class="link_he">You can find answers to most questions and get in touch with us at
                <span style="cursor: pointer; color: blue;">support.prep.com.</span>
                We're here to help you at any step along the way.
            </p>
        </div>
        <div>
            <p class="link_he">--The Prep Anglular Team!</p>
        </div>
        <div style="border-top: 1px solid grey;">
            <span style="font-size: 12px;">Mohali 7 Phase Sector 61 Sahibzada Ajit Singh Nagar, Punjab 160062</span>
        </div>
    </div>
</div> -->


<div class="reset_page">
    <div class="form_box">
        <!-- <div class="wrapper">
            <div class="arrow">
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div> -->
        <!-- <div class="wrapper1">
            <div class="arrow">
                <div class="line"></div>
            </div>
        </div> -->
        <!-- <h1 style="text-align: center; margin-top: 24px;font-size: 22px;">Can't Validate Your Account!</h1> -->
        <!-- <h1 style="text-align: center; margin-top: 24px;font-size: 22px;">Your Account is Verified!</h1> -->
        
        
        <!-- <form id="resetPasswordForm" action="/auth/reset-password" method="POST" onsubmit="submitForm(event)">
            <div class="form_field">
                <label for="newPassword" class="input_label">New Password:</label>
                <input class="form_input" type="password" id="newPassword" name="newPassword" required>
            </div>
            <div class="form_field" style="margin-bottom: 28px;">
                <label class="input_label" for="confirmPassword">Confirm Password:</label>
                <input class="form_input" type="password" id="confirmPassword" name="confirmPassword" required>
            </div>
            <div class="form_field">
                <button class="submit_btn" type="submit">Reset Password</button>
            </div>
        </form> -->

    </div>
</div>